craft/storage/runtime/*
craft/storage/backups/*

cache/*.css
cache/*.js

.DS_Store
Thumbs.db
.cache
.project
.settings
.idea
.tmproj
*.esproj
nbproject
*.sublime-workspace
*.sublime-project
*.komodoproject
.komodotools
_notes
dwsync.xml
logs/*
.sass-cache